/* Googel Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');

/* Global Variables */
:root {
    --primary-font: "Oswald", sans-serif;
    --secondary-font: "Bebas Neue", cursive;
    --primary-color: #F38B1D; /* beer */
    --secondary-color: #248ca2; /* Cyan */
    --highlight-color: #edefea; /* Alabaster */
    --highlight-color-light: #7a9fc2; /* light blue */
    --dark-color: #222123; /* raisen black */ 
}

/* Global styles */
body {
    font-family: var(--primary-font), sans-serif;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font), sans-serif;
    color: var(--primary-color);
}

.lead {
    color: var(--highlight-color);
}

.action-button {
    background-color: transparent;
    color: var(--primary-color);
    border-radius: 0;
    border: 2px solid var(--primary-color);
}

.action-button:hover {
    background-color: var(--primary-color);
    color: var(--highlight-color);
}

/* Navbar */
#navbar {
    background-color: var(--dark-color) !important;
    border-bottom: 1px solid var(--primary-color);
}

#navbar .nav-item {
    text-align: center;
}

#navbar .nav-item a {
    color: var(--highlight-color) !important;
}

#navbar .nav-item .active,
#navbar .nav-link:hover {
    background-color: var(--primary-color);
}

#navbar .navbar-toggler,
#navbar .navbar-toggler:hover ,
#navbar .navbar-toggler:focus {
    border: none;
}

#navbar .navbar-toggler i {
    color: var(--primary-color);
}

/* Header */
.hero {
    height: 93vh;
    padding: unset;
    background: var(--dark-color) url("../images/hero-image.jpg") no-repeat center center/cover;
}

.hero-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgb(0, 0, 0, .7);
}
.hero-content {
    text-align: center;
}


/* layout */
.row {
    background: var(--dark-color);
    color: var(--highlight-color);
}

.row>div {
    border: 1px solid var(--primary-color);
}

/* Brekpoint */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* header */
    .hero-content {
        width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* header */
    .hero-content {
        width: 60%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}