/* Googel Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');

/* Global Variables */
:root {
    --primary-font: "Oswald", sans-serif;
    --secondary-font: "Bebas Neue", cursive;
    --primary-color: #F38B1D; /* beer */
    --secondary-color: #248ca2; /* Cyan */
    --highlight-color: #edefea; /* Alabaster */
    --highlight-color-light: #7a9fc2; /* light blue */
    --dark-color: #222123; /* raisen black */ 
}

/* Global styles */

body {
    font-family: var(--primary-font), sans-serif;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font), sans-serif;
    color: var(--primary-color);
}

.lead {
    color: var(--highlight-color);
}