/* Googel Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');

/* Global Variables */
:root {
    --primary-font: "Oswald", sans-serif;
    --secondary-font: "Bebas Neue", cursive;
    --primary-color: #ff7800;
    /* Flush Orange */
    --secondary-color: #26d9ff;
    /* Cyan/Aqua */
    --highlight-color: #edefea;
    /* Alabaster */
    --highlight-color-light: #fffbf8;
    /* Quill Gray */
    --dark-color: #222123;
    /* raisen black */
}

@keyframes animate-fadein {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Global styles */
body {
    font-family: var(--primary-font), sans-serif;
}

h1,
h2 {
    font-family: var(--secondary-font), sans-serif;
    color: var(--primary-color);
}

h3 {
    font-size: larger;
}

.lead {
    color: var(--highlight-color);
}

.action-button {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 0;
}

.action-button-secondary {
    background-color: transparent;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 0;
}

.action-button:hover,
.action-button-secondary:hover {
    color: var(--highlight-color);
    border: 2px solid var(--highlight-color);
}

.fadein {
    transform: translateY(100px);
    animation: animate-fadein 3000ms 0ms forwards;
}

/* Navbar */
#navbar {
    background-color: var(--dark-color) !important;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 29%);
    width: 100%;
    z-index: 2;
}

#navbar .nav-item {
    text-align: center;
    font-size: larger;
}

#navbar .nav-item a {
    color: var(--primary-color);
}

#navbar .nav-item .active,
#navbar .nav-link:hover {
    text-decoration: underline;
}

#navbar .navbar-toggler,
#navbar .navbar-toggler:hover,
#navbar .navbar-toggler:focus {
    border: none;
    box-shadow: unset;
}

#navbar .navbar-toggler i {
    color: var(--primary-color);
}

/* Header */
.hero {
    height: 90vh;
    padding: unset;
}

.hero-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.hero-content {
    text-align: center;
}

/* Homepage Header */
#homepage-header .hero {
    background-color: var(--dark-color);
    background: linear-gradient(0deg, rgba(19, 11, 9, 1), rgba(13, 0, 9, 0.5)), url("../images/hero.webp") no-repeat center/cover;
}

/* Reponse Page Header */
#reponse-header .hero {
    background: #59575b;
}

#reponse-header .response-icon {
    color: var(--highlight-color);
    font-size: 8rem;
    padding: 1rem;
}

/* Booking Header */
#booking-header .hero {
    background-color: var(--dark-color);
    background: linear-gradient(20deg, rgba(19, 11, 9, 1), rgba(13, 0, 9, 0.4)), url("../images/booking-hero.webp") no-repeat center/cover;
}

/* Contact Supplier Header */
#contact-supplier-header .hero {
    background-color: var(--dark-color);
    background: linear-gradient(19deg, rgba(19, 11, 9, 1), rgba(13, 0, 9, 0.6)), url("../images/contact-supplier-hero.webp") no-repeat center/cover;
}

/* Tools section */
#tools-list .section:nth-child(even) {
    background-color: var(--highlight-color-light);
    color: var(--dark-color);
}

#tools-list .section:nth-child(odd) {
    background-color: var(--dark-color);
    color: var(--highlight-color);
}

.tool-card {
    border-radius: unset;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border-color: black;
}

.tool-card .card-body {
    background-color: black;
}

.tool-card .card-img-top {
    height: 300px;
    border-radius: unset;
    object-fit: cover;
}

.tool-card .card-title {
    font-size: 1rem;
    line-height: 20px;
    padding-right: .5rem;
    color: var(--highlight-color);
}

.tool-card .user-review {
    color: #ffc107;
    font-size: .8rem;
}

.tool-card .user-review small {
    color: var(--highlight-color)
}

.tool-card .list-group {
    font-size: .9rem;
}

.tool-actions {
    display: flex;
    width: 100%;
    padding-top: .5rem;
    justify-content: center;
    gap: 10px;
}

#tools-list .tool-actions a {
    flex-grow: 1;
    text-align: center;
}

#tools-list .tool-actions a button {
    width: 100%;
}

#tools-list .tool-card .list-group-item {
    background: transparent;
    padding: .3rem 1rem !important;
    color: var(--highlight-color);
}

#tools-list .tool-card .available-icon {
    color: #00ff00;
}

#tools-list .tool-card .location-icon {
    color: var(--primary-color);
}

#tools-list .tool-card .price-icon {
    color: var(--secondary-color);
}

/* Booking Form, Contact Supplier Form */
#rental-form .rental-form,
#contact-supplier-form .contact-supplier-form {
    padding: 3rem 1rem;
}

#rental-form .rental-form-container,
#contact-supplier-form .contact-supplier-container {
    padding: 1rem;
    border: 1px solid var(--dark-color);
}

#rental-form .action-button:hover,
#contact-supplier-form .action-button:hover {
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
}

/* Footer */
footer {
    background-color: var(--dark-color);
    background: linear-gradient(0deg, rgba(19, 11, 9, 1), rgba(13, 0, 9, 0.7)), url("../images/footer.webp") no-repeat center/cover;
    color: var(--highlight-color);
}

#footer-contact-us .footer-container {
    padding: 2rem;
}

#footer-contact-us .support-contact {
    text-decoration: unset;
    color: var(--highlight-color);
    padding-left: .5rem;
}

#footer-contact-us .social-media a {
    color: var(--highlight-color);
    font-size: large;
    margin: 1rem;
}

#footer-contact-us .social-media a:hover {
    color: var(--primary-color);
}

#footer-contact-us .contact-form {
    background: rgba(237, 239, 234, .28);
    box-shadow: 2px 2px 4px rgba(237, 239, 234, 0.15);
    padding: 1rem;
}

#footer-contact-us .contact-form h3 {
    color: var(--highlight-color) !important;
}

#footer-contact-us .contact-form .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--highlight-color);
    border-radius: unset;
    color: var(--highlight-color);
}

/* Brekpoint */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* header */
    .hero-content {
        width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* header */
    .hero-content {
        width: 60%;
    }

    /* Tools */
    .tool-card .card-title {
        height: 50px;
        line-height: 20px;
        font-size: 1.05rem;
    }

    /* footer */
    #footer-contact-us .footer-container {
        width: 90%;
        margin: auto;
        padding: 3rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* Global Styles */
    .section {
        padding: 0 3rem;
    }

    /* Navbar */
    #navbar .navbar-container {
        width: 80%;
    }

    /* Tools */
    .tool-card .card-title {
        font-size: 1.05rem;
        line-height: 22px;
    }

    /* Rental Form, , Contact Supplier Form */
    #rental-form,
    #contact-supplier-form {
        padding: 0 1rem;
    }

    #rental-form .user-information {
        border-right: 2px solid var(--dark-color);
    }

    /* footer */
    #footer-contact-us .footer-container {
        width: 85%;
        padding: 4rem;
    }

    #footer-contact-us .contact-form {
        padding: 2rem;
    }
}

/* Extra Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /* Global Styles */
    .section {
        padding: 0 5rem;
    }

    /* Tools */
    .tool-card .card-title {
        height: 66px;
        line-height: 21px;
        font-size: 1.07rem;
    }

    /* Booking Form, Contact Supplier Form */
    #rental-form,
    #contact-supplier-form {
        padding: 0 3rem;
    }

    /* footer */
    #footer-contact-us .footer-container {
        width: 75%;
        padding: 5rem;
    }
}